# Database PostgreSQL Connection URL
DATABASE_URL="postgresql://username:password@hostname:5432/database_name?sslmode=require"

# Secret Key untuk Signed JWT (HS256)
AUTH_SECRET="ganti_dengan_string_rahasia_acak_256_bit_di_production"
